/* #Base 1120 Grid
================================================== */

    @media only screen and (min-width: 1120px) and (max-width: 1279px) {
        .container                                  { width: 1120px; }

        .container .one.column,
        .container .one.columns                     { width: 50px; }
        .container .two.columns                     { width: 120px; }
        .container .three.columns                   { width: 190px; }
        .container .four.columns                    { width: 260px; }
        .container .five.columns                    { width: 330px; }
        .container .six.columns                     { width: 400px; }
        .container .seven.columns                   { width: 470px; }
        .container .eight.columns                   { width: 540px; }
        .container .nine.columns                    { width: 610px; }
        .container .ten.columns                     { width: 680px; }
        .container .eleven.columns                  { width: 750px; }
        .container .twelve.columns                  { width: 820px; }
        .container .thirteen.columns                { width: 890px; }
        .container .fourteen.columns                { width: 960px; }
        .container .fifteen.columns                 { width: 1030px; }
        .container .sixteen.columns                 { width: 1100px; }

        .container .one-third.column                { width: 353px; }
        .container .two-thirds.column               { width: 727px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 70px;  }
        .container .offset-by-two                   { padding-left: 140px; }
        .container .offset-by-three                 { padding-left: 210px; }
        .container .offset-by-four                  { padding-left: 280px; }
        .container .offset-by-five                  { padding-left: 350px; }
        .container .offset-by-six                   { padding-left: 420px; }
        .container .offset-by-seven                 { padding-left: 490px; }
        .container .offset-by-eight                 { padding-left: 560px; }
        .container .offset-by-nine                  { padding-left: 630px; }
        .container .offset-by-ten                   { padding-left: 700px; }
        .container .offset-by-eleven                { padding-left: 770px; }
        .container .offset-by-twelve                { padding-left: 840px; }
        .container .offset-by-thirteen              { padding-left: 910px; }
        .container .offset-by-fourteen              { padding-left: 980px; }
        .container .offset-by-fifteen               { padding-left: 1050px; }
    }

/* #Base 1280 Grid
================================================== */

    @media only screen and (min-width: 1280px) and (max-width: 1439px) {
        .container                                  { width: 1280px; }

        .container .one.column,
        .container .one.columns                     { width: 60px; }
        .container .two.columns                     { width: 140px; }
        .container .three.columns                   { width: 220px; }
        .container .four.columns                    { width: 300px; }
        .container .five.columns                    { width: 380px; }
        .container .six.columns                     { width: 460px; }
        .container .seven.columns                   { width: 540px; }
        .container .eight.columns                   { width: 620px; }
        .container .nine.columns                    { width: 700px; }
        .container .ten.columns                     { width: 780px; }
        .container .eleven.columns                  { width: 860px; }
        .container .twelve.columns                  { width: 940px; }
        .container .thirteen.columns                { width: 1020px; }
        .container .fourteen.columns                { width: 1100px; }
        .container .fifteen.columns                 { width: 1180px; }
        .container .sixteen.columns                 { width: 1260px; }

        .container .one-third.column                { width: 406px; }
        .container .two-thirds.column               { width: 834px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 80px;  }
        .container .offset-by-two                   { padding-left: 160px; }
        .container .offset-by-three                 { padding-left: 240px; }
        .container .offset-by-four                  { padding-left: 320px; }
        .container .offset-by-five                  { padding-left: 400px; }
        .container .offset-by-six                   { padding-left: 480px; }
        .container .offset-by-seven                 { padding-left: 560px; }
        .container .offset-by-eight                 { padding-left: 640px; }
        .container .offset-by-nine                  { padding-left: 720px; }
        .container .offset-by-ten                   { padding-left: 800px; }
        .container .offset-by-eleven                { padding-left: 880px; }
        .container .offset-by-twelve                { padding-left: 960px; }
        .container .offset-by-thirteen              { padding-left: 1040px; }
        .container .offset-by-fourteen              { padding-left: 1120px; }
        .container .offset-by-fifteen               { padding-left: 1200px; }
    }

/* #Base 1440 Grid
================================================== */

    @media only screen and (min-width: 1440px) and (max-width: 1599px) {
        .container                                  { width: 1440px; }

        .container .one.column,
        .container .one.columns                     { width: 70px; }
        .container .two.columns                     { width: 160px; }
        .container .three.columns                   { width: 250px; }
        .container .four.columns                    { width: 340px; }
        .container .five.columns                    { width: 430px; }
        .container .six.columns                     { width: 520px; }
        .container .seven.columns                   { width: 610px; }
        .container .eight.columns                   { width: 700px; }
        .container .nine.columns                    { width: 790px; }
        .container .ten.columns                     { width: 880px; }
        .container .eleven.columns                  { width: 970px; }
        .container .twelve.columns                  { width: 1060px; }
        .container .thirteen.columns                { width: 1150px; }
        .container .fourteen.columns                { width: 1240px; }
        .container .fifteen.columns                 { width: 1330px; }
        .container .sixteen.columns                 { width: 1420px; }

        .container .one-third.column                { width: 460px; }
        .container .two-thirds.column               { width: 940px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 90px;  }
        .container .offset-by-two                   { padding-left: 180px; }
        .container .offset-by-three                 { padding-left: 270px; }
        .container .offset-by-four                  { padding-left: 360px; }
        .container .offset-by-five                  { padding-left: 450px; }
        .container .offset-by-six                   { padding-left: 540px; }
        .container .offset-by-seven                 { padding-left: 630px; }
        .container .offset-by-eight                 { padding-left: 720px; }
        .container .offset-by-nine                  { padding-left: 810px; }
        .container .offset-by-ten                   { padding-left: 900px; }
        .container .offset-by-eleven                { padding-left: 990px; }
        .container .offset-by-twelve                { padding-left: 1080px; }
        .container .offset-by-thirteen              { padding-left: 1170px; }
        .container .offset-by-fourteen              { padding-left: 1260px; }
        .container .offset-by-fifteen               { padding-left: 1350px; }
    }

/* #Base 1600 Grid
================================================== */

    @media only screen and (min-width: 1600px) {
        .container                                  { width: 1600px; }

        .container .one.column,
        .container .one.columns                     { width: 80px; }
        .container .two.columns                     { width: 180px; }
        .container .three.columns                   { width: 280px; }
        .container .four.columns                    { width: 380px; }
        .container .five.columns                    { width: 480px; }
        .container .six.columns                     { width: 580px; }
        .container .seven.columns                   { width: 680px; }
        .container .eight.columns                   { width: 780px; }
        .container .nine.columns                    { width: 880px; }
        .container .ten.columns                     { width: 980px; }
        .container .eleven.columns                  { width: 1080px; }
        .container .twelve.columns                  { width: 1180px; }
        .container .thirteen.columns                { width: 1280px; }
        .container .fourteen.columns                { width: 1380px; }
        .container .fifteen.columns                 { width: 1480px; }
        .container .sixteen.columns                 { width: 1580px; }

        .container .one-third.column                { width: 513px; }
        .container .two-thirds.column               { width: 1047px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 100px;  }
        .container .offset-by-two                   { padding-left: 200px; }
        .container .offset-by-three                 { padding-left: 300px; }
        .container .offset-by-four                  { padding-left: 400px; }
        .container .offset-by-five                  { padding-left: 500px; }
        .container .offset-by-six                   { padding-left: 600px; }
        .container .offset-by-seven                 { padding-left: 700px; }
        .container .offset-by-eight                 { padding-left: 800px; }
        .container .offset-by-nine                  { padding-left: 900px; }
        .container .offset-by-ten                   { padding-left: 1000px; }
        .container .offset-by-eleven                { padding-left: 1100px; }
        .container .offset-by-twelve                { padding-left: 1200px; }
        .container .offset-by-thirteen              { padding-left: 1300px; }
        .container .offset-by-fourteen              { padding-left: 1400px; }
        .container .offset-by-fifteen               { padding-left: 1500px; }
    }
