<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../<%= curl.handsontablecss.relative_dest %>">

    <script src="../<%= curl.jquery.relative_dest %>"></script>
    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>
    <script src="../<%= curl.handsontablejs.relative_dest %>"></script>

    <script src="handsontable.js"></script>
  </head>
  <body>
    <div class="table-container"></div>
  </body>
</html>
