<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gantt</title>
    <link rel="stylesheet" href="../<%= copy.dhtmlxganttcss.relative_dest %>">

    <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= curl.jquery.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.dhtmlxganttjs.relative_dest %>" type="text/javascript"></script>
    <script src="mixin_gadget.js" type="text/javascript"></script>
    <script src="Output_viewGantt.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="gant_container" style="height: 800px;"></div>
  </body>
</html>
