<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../<%= curl.jqueryuicss.relative_dest %>">
    <link rel="stylesheet" href="toolbox.css">

    <script src="../<%= curl.jquery.relative_dest %>"></script>
    <script src="../<%= curl.jqueryuijs.relative_dest %>"></script>
    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>
    
    <script src="toolbox.js"></script>
  </head>
  <body>
    <div id="tools">
      <div id="tools-container"></div>
    </div>
  </body>
</html>
