<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../<%= curl.jqueryuicss.relative_dest %>">
    <link rel="stylesheet" href="jsplumb.css">

    <script src="../<%= curl.jquery.relative_dest %>"></script>
    <script src="../<%= curl.jqueryuijs.relative_dest %>"></script>
    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>
    <script src="../<%= curl.jsplumbjs.relative_dest %>"></script>
    <script src="../<%= copy.handlebars.relative_dest %>"></script>

    <script id="node-template" type="text/x-handlebars-template">
      <div class="window {{class}}"
           id="{{element_id}}"
           title="{{title}}">
        {{id}}
        <div class="ep"></div>
      </div>
    </script>

    <script src="../dream/mixin_gadget.js"></script>
    <script src="../dream/mixin_promise.js"></script>

    <script src="jsplumb.js"></script>
  </head>
  <body>
    <div id="main"></div>
    <div class="dummy_window"></div>
  </body>
</html>
