<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../<%= curl.jqueryuicss.relative_dest %>">
    <link rel="stylesheet" href="toolbox.css">

    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>
    <script src="../dream/mixin_gadget.js"></script>
    <script src="../dream/mixin_promise.js"></script>

    <script src="toolbox.js"></script>
  </head>
  <body>
    <div class="tools"></div>
  </body>
</html>
