<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Jio Gadget</title>

    <!-- renderjs -->
    <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.uritemplate.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.uri.relative_dest %>" type="text/javascript"></script>
    <script src="../lib/jio.js" type="text/javascript"></script>
    <!-- custom script -->
    <script src="jiogadget.js" type="text/javascript"></script>

  </head>
  <body>
  </body>
</html>
