
body {
    padding:0;
    margin:0;
    background-color:white;    
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align:center;	
}
#headerWrapper {
  display:none;
	width:100%;
	background-color:black;
	position:fixed;
	top:0;left:0;
	height:44px;
	padding:0;
	border-bottom:1px solid #999;
    box-shadow: 0px 2px 19px #aaa;
   -o-box-shadow: 0px 2px 19px #aaa;
   -webkit-box-shadow: 0px 2px 19px #aaa;
   -moz-box-shadow: 0px 2px 19px #aaa;

   opacity:0.8;
}


#intro {
	margin-top:59px;
}

 #main {
    /* these two margins settings are here just to ensure that jsPlumb handles
    margins properly.*/  
    position: relative;
    margin:20px auto;
    font-size: 80%;
    border: 1px solid #999;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    background-color:#eaedef;
}

/* Setting for dialog */

label, input { display:block; }
input.text { margin:4px; padding:0; width:95%; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

/* End of dialog setting */

li { margin: 3px;
     /*padding: 1px;*/
     /*text-align: -webkit-match-parent;*/
     background: #e6e6e6;
     border: 1px solid #d3d3d3;
     list-style-type: none;
     width: 120px; }

#sidebar {            
    font-size:13px;    
}

/* demo elements */

.menu,#render, #explanation { 
    
	background-color:#fff;	    
}

.menu {    
    height: 15px;
	float:right;
    padding-top:1em;
    padding-bottom:0.4em;   
    background-color: transparent;
	margin-right:30px;
}

#render {
    text-align: center;
    background-color:white;
}

#render ul {
    padding-left:1em;
}
#render ul li {
    list-style-type:none;
}
#render h5 {
    display:inline;
}

.otherLibraries {
    display:inline;
}

a, a:visited {
    text-decoration:none;
    color:#01a3c6;    
    font-family:helvetica;
    padding:0.3em;
    border-radius:0.2em;
}

a:hover {
    color:#1b911b;
}

.selected {
	color:rgb(189,11,11) !important;
}

.window, .label { 
    background-color:white;
    text-align:center;
    z-index:23;
	cursor:pointer;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
    
}
path, ._jsPlumb_endpoint { cursor:pointer; }

._jsPlumb_endpoint_drop_allowed {
    border: 4px solid #123456;
    box-shadow: 6px 6px 19px #444;
    -o-box-shadow: 6px 6px 19px #444;
    -webkit-box-shadow: 6px 6px 19px #444;
    -moz-box-shadow: 6px 6px 19px #444;
}

/* z index stuff */

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:23; }

._jsPlumb_connector._jsPlumb_hover {
    z-index:21 !important;
}

._jsPlumb_endpoint._jsPlumb_hover {
    z-index:22 !important;
}

._jsPlumb_overlay {
  border:1px solid #346789; 
  opacity:0.8; 
  filter:alpha(opacity=80);
  background-color:white;
  color:black;
  font-family:helvetica;
  padding:0.5em; 
}

/* DREAM specific css */

#available {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid;
  margin-top: 350px;
  margin-left: 150px;
  border-radius: 10px;
}


#tools {
/*  position: absolute;
  width: 200px;
  height: 400px; */
  width: 100%;
  border: 1px solid #999;
  margin: 20px 0;
  border-radius: 10px;
  padding-bottom: 20px;
}

#tools-container {
  margin-bottom: 4px;
}

#simulation_controls {            
/*  position: absolute;
  width: 200px;
  height: 300px;
  margin-top: 550px;
  margin-left: 35px;
  font-size:13px; */
  width: 100%;
  border: 1px solid #999;
  border-radius: 10px;
}

.tool {
  border: 1px solid lightgray;
  /*margin-top: 20px;
  margin-left: 35px;*/
  width:7em;
  height:2em;
  z-index: 10001;
  color: gray;
  font-family:serif;
  font-style:italic;
  padding-top:0.9em;
  font-size:0.9em;
  margin:0.5em;
  display: inline-block;
}


#graph {
  width: 100%;
  height: 400px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  padding-top:2px;
  margin-top:0px;
}

.ui-button {
  width:80%;
  margin:4px 0;
}

.Dream-Source {
  background-color:#ffe;
}

.Dream-Machine, .Dream-MachineJobShop {
  background-color:#fef;
}

.Dream-Queue, .Dream-QueueJobShop {
  background-color:#eff;
}

.Dream-Exit, .Dream-ExitJobShop {
  background-color:#eef;
}

.Dream-Repairman {
  background-color:#fdd;
}

.window {
  border:1px solid lightgray;
  width:100px;
  height:64px;
  position:absolute;
  color:black;
  font-family:serif;
  font-style:italic;
  padding-top:0.9em;
  font-size:0.9em;
  cursor:move;
  background-color:white;
  font-size:11px;
  -webkit-transition:background-color 0.1s ease-in;
  -moz-transition:background-color 0.1s ease-in;
  transition:background-color 0.1s ease-in;
}

.window:hover {
  background-color: #5c96bc;
  color:white;
}

#debug textarea {
  width:100%;
}

.ep {
  position:absolute;
  bottom:37%;
  right:5px;
  width:1em;
  height:1em;
  background-color:orange;
  cursor:pointer;
  box-shadow: 0px 0px 2px black;
  -webkit-transition:-webkit-box-shadow 0.25s ease-in;
  -moz-transition:-moz-box-shadow 0.25s ease-in;
  transition:box-shadow 0.25s ease-in;
}

._jsPlumb_source_hover, ._jsPlumb_target_hover, .dragHover {
  background-color:#1e8151;
  color:white;
}

path {
  cursor:pointer;
}
